<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="img-logo"></div>
    <title>Random Restaurant Generator</title>
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
</head>

<body onload="clearAllCookies(); toggleTextBox()">
    <h1>Random Restaurant Generator</h1>
    <form action="/restaurant">
        <div class="input-container">
            <label for location>Where are you looking for a restaurant? (enter address, city, or use current
                location)</label>
            <input type="text" name="Location" id="location" placeholder="Enter Location" />
        </div>
        <div class="input-container">
            <label for Keyword>Are you looking for a specific type of food? (Optional)</label>
            <input type="text" name="Keyword" id="keyword" placeholder="Keyword (Optional)" />
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="useCurrentLocation" onchange="toggleTextBox()">
            <label for="useCurrentLocation">Use Current Location</label>
        </div>
        <div class="custom-select">
            <label for="price">Price Preference </label>
            <select name="Price" id="price">
                <option value="">Any</option>
                <option value="Cheap">Cheap</option>
                <option value="Expensive">Expensive</option>
            </select>
        </div>
        <div class="slider long-slider">
            <input type="range" min="5" max="30" value="0" name="Radius" id="radius" step="5" list="distance"
                oninput="updateRangeValue(this)">
            <datalist id="distance">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
            </datalist>
            <div class="centered-label">
                <label for="fader" class="distance-label">
                    Distance:
                    <p id="rangeValue">5</p>
                </label>
            </div>

        </div>
        <button type="submit" onclick="saveFormInputs()">Generate</button>
    </form>
    <!-- About Section -->
    <div class="about-section">
        <h2>What is Random Restaurant Generator?</h2>
        <p>This tool allows you to generate a random restaurant based on your location. You can also search for specific
            types of food.
            You can also filter by price and distance. It can be hard to choose a restaurant sometimes so I made it
            easier for you!
        </p>
        <h2>Tips</h2>
        <p>Here are some tips for using the tool:
        <ul>
            <li>The generator generates restaurants based on your input. Searching for a particular cuisine, such as
                vegan or Chinese food? Remember to enter the type in the designated input box. </li>
            <li>Unsatisfied with the restaurant suggested? Feel free to hit the generate button as many times as you
                like. Keep generating until you find a restaurant that piques your interest. </li>
            <li>Ensure that you choose a price preference before proceeding.</li>
            <li>If you find yourself cycling through only a few restaurants with each generation, it may be because we
                can only select from establishments that match your specified criteria. To diversify your options,
                consider increasing the maximum driving distance, selecting a broader food category, or omitting the
                food category altogether.
            </li>
        </ul>
        </p>
        <h2>Why is it hard to pick a place to eat?</h2>
        <p>While having a variety of options can be advantageous, an overwhelming abundance of choices can lead to
            decision fatigue. This can manifest as difficulties in making decisions, lower satisfaction with our
            choices, reduced confidence in our decisions, and a higher chance of experiencing regret later on. Although
            the pandemic has significantly reduced the number of dining options due to restaurant closures, there are
            still numerous establishments to choose from.</p>
        <p>
            Even with a wealth of options available, the pressure to find a satisfying meal remains. This mix of
            plentiful choices and the quest for an enjoyable dining experience can complicate decision-making, even when
            it comes to seemingly minor decisions such as choosing a restaurant for your upcoming meal.</p>
        <h2>How it works</h2>
        <p>This website is built using python with the Flask framework. I am using the Google Maps API to get the
            location
            and information about the restaurants. The location comes from HTML geolocation. It also uses cookies to
            save your inputs.</p>
        <h2>Thank you!</h2>
        <p>Thank you for taking the time to look at my website. I made this to practice my web my web development
            skills.
        </p>
    </div>

    <script>
        function updateRangeValue(slider) {
            var optionValues = Array.from(slider.list.options).map(option => parseFloat(option.value));
            var nearestValue = optionValues.reduce(function (prev, curr) {
                return (Math.abs(curr - slider.value) < Math.abs(prev - slider.value) ? curr : prev);
            });
            slider.value = nearestValue;
            document.getElementById('rangeValue').innerText = nearestValue;
        }

        function toggleTextBox() {
            var locationInput = document.getElementById('location');
            var useCurrentLocationCheckbox = document.getElementById('useCurrentLocation');
            if (useCurrentLocationCheckbox.checked) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    locationInput.value = position.coords.latitude + ", " + position.coords.longitude;
                    locationInput.classList.add('readonly-input'); // Add the CSS class
                    // Submit the form
                    //document.querySelector('form').submit();
                });
            } else {
                locationInput.classList.remove('readonly-input'); // Remove the CSS class
            }
        }

        function saveFormInputs() {
            var inputsToSave = ['location', 'keyword', 'price', 'radius', 'useCurrentLocation'];
            inputsToSave.forEach(function (inputId) {
                var inputElement = document.getElementById(inputId);
                if (inputElement.type === 'checkbox') {
                    setCookie(inputId, inputElement.checked);
                } else {
                    setCookie(inputId, inputElement.value);
                }
            });
        }

        function restoreFormInputs() {
            var inputsToRestore = ['location', 'keyword', 'price', 'radius', 'useCurrentLocation'];
            inputsToRestore.forEach(function (inputId) {
                var storedValue = getCookie(inputId);
                if (storedValue !== "") {
                    var inputElement = document.getElementById(inputId);
                    if (inputElement.type === 'checkbox') {
                        inputElement.checked = (storedValue === "true");
                    } else {
                        inputElement.value = storedValue;
                    }
                }
            });
            var slider = document.getElementById('radius');
            var initialValue = slider.value; // Get initial value of the slider
            document.getElementById('rangeValue').innerText = initialValue; // Set initial value of the rangeValue
        }

        function setCookie(name, value) {
            document.cookie = name + "=" + value + ";path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return "";
        }
        function clearAllCookies() {
            var cookies = document.cookie.split("; ");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
            }
        }

    </script>

</body>

</html>