<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Restaurant Generator</title>
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
</head>

<body onload="restoreFormInputs(); toggleTextBox()">
    <h1>Random Restaurant Generator</h1>
    <form action="/restaurant">
        <div>
            <input type="text" name="Location" id="location" placeholder="Enter Location" />
        </div>
        <div>
            <input type="text" name="Keyword" id="keyword" placeholder="Keyword (Optional)" />
        </div>
        <div>
            <input type="checkbox" id="useCurrentLocation" onchange="toggleTextBox()">
            <label for="useCurrentLocation">Use Current Location</label>
        </div>
        <div>
            <label for="price">Price Preference:</label>
            <select name="Price" id="price">
                <option value="">None</option>
                <option value="1">Inexpensive: $0 - $10</option>
                <option value="2">Moderate: $11 - $30</option>
                <option value="3">Expensive: $31 - 60</option>
                <option value="4">Very Expensive: $61+</option>
            </select>
        </div>
        <div class="slider long-slider">
            <input type="range" min="5" max="30" value="0" name="Radius" id="radius" step="5" list="distance"
                oninput="updateRangeValue(this)">
            <datalist id="distance">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
            </datalist>
            <label for="fader">Distance </label>
            <p id="rangeValue">0</p>
        </div>
        <button type="submit">Generate</button>
    </form>

    <script>
        function updateRangeValue(slider) {
            var optionValues = Array.from(slider.list.options).map(option => parseFloat(option.value));
            var nearestValue = optionValues.reduce(function (prev, curr) {
                return (Math.abs(curr - slider.value) < Math.abs(prev - slider.value) ? curr : prev);
            });
            slider.value = nearestValue;
            document.getElementById('rangeValue').innerText = nearestValue;
            saveFormInputs(); // Save form inputs after updating slider value
        }

        function toggleTextBox() {
            var locationInput = document.getElementById('location');
            var useCurrentLocationCheckbox = document.getElementById('useCurrentLocation');
            if (useCurrentLocationCheckbox.checked) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    locationInput.value = position.coords.latitude + ", " + position.coords.longitude;
                    locationInput.classList.add('readonly-input'); // Add the CSS class
                    // Submit the form
                    //document.querySelector('form').submit();
                });
            } else {
                locationInput.classList.remove('readonly-input'); // Remove the CSS class
            }
            saveFormInputs(); // Save form inputs after updating checkbox state
        }

        function saveFormInputs() {
            var inputsToSave = ['location', 'keyword', 'price', 'radius', 'useCurrentLocation'];
            inputsToSave.forEach(function (inputId) {
                var inputElement = document.getElementById(inputId);
                if (inputElement.type === 'checkbox') {
                    localStorage.setItem(inputId, inputElement.checked);
                } else {
                    localStorage.setItem(inputId, inputElement.value);
                }
            });
        }

        function restoreFormInputs() {
            var inputsToRestore = ['location', 'keyword', 'price', 'radius', 'useCurrentLocation'];
            inputsToRestore.forEach(function (inputId) {
                var storedValue = localStorage.getItem(inputId);
                if (storedValue !== null) {
                    var inputElement = document.getElementById(inputId);
                    if (inputElement.type === 'checkbox') {
                        inputElement.checked = (storedValue === "true");
                    } else {
                        inputElement.value = storedValue;
                    }
                }
            });
            var slider = document.getElementById('radius');
            var initialValue = slider.value; // Get initial value of the slider
            document.getElementById('rangeValue').innerText = initialValue; // Set initial value of the rangeValue
        }
        
        window.addEventListener('beforeunload', saveFormInputs); // Save form inputs before unloading the page
    </script>

</body>

</html>
