<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Restaurant Generator</title>
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Random Restaurant Generator</h1>
    <form action="/restaurant">
        <div>
            <input type="text" name="Location" id="location" placeholder="Enter Location" />
        </div>
        <div>
            <input type="text" name="Keyword" id="keyword" placeholder="Keyword (Optional)" />
        </div>
        <div>
            <input type="checkbox" id="useCurrentLocation" onchange="toggleTextBox()">
            <label for="useCurrentLocation">Use Current Location</label>
        </div>
        <div class="slider long-slider">
            <input type="range" min="0" max="30" value="0" name="Radius" id="radius" step="5" list="distance"
                oninput="updateRangeValue(this)">
            <datalist id="distance">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
            </datalist>
            <label for="fader">Distance </label>
            <p id="rangeValue">1</p>
        </div>
        <button type="submit">Submit</button>
    </form>
    <h1>{{ title }}</h1>
    <!-- <p>{{ random_restaurant }}</p> -->
    <p>Rating: {{ rating }}</p>
    <p>Location: {{ location }}</p>
    <p><a href="http://maps.google.com/?q={{ title }} {{ location }}" target="_blank">Google Maps</a></p>
    <a href="http://maps.apple.com/?q={{ location }} {{ title }}" target="_blank">Apple Maps</a>

    <script>
        function updateRangeValue(slider) {
            var optionValues = Array.from(slider.list.options).map(option => parseFloat(option.value));
            var nearestValue = optionValues.reduce(function (prev, curr) {
                return (Math.abs(curr - slider.value) < Math.abs(prev - slider.value) ? curr : prev);
            });
            slider.value = nearestValue;
            document.getElementById('rangeValue').innerText = nearestValue;
        }
        function toggleTextBox() {
            var locationInput = document.getElementById('location');
            var useCurrentLocationCheckbox = document.getElementById('useCurrentLocation');
            if (useCurrentLocationCheckbox.checked) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    locationInput.value = position.coords.latitude + ", " + position.coords.longitude;
                    locationInput.classList.add('readonly-input'); // Add the CSS class
                    // Submit the form
                    //document.querySelector('form').submit();
                });
            } else {
                locationInput.classList.remove('readonly-input'); // Remove the CSS class
            }
        }
    </script>

</body>

</html>